<div class="content">
  <h1>DTU Kursusoversigt</h1>
  <div class="row">
    <nav class="nav col-12 col-sm-9">
      <div class="navbar navbar-primary">
        <div class="navbar-inner container">
          <ul class="nav-primary">
            <li>
              <a class="nav-link" [routerLink]="['course']" routerLinkActive="current"><span>Kursusinformation</span></a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['statistics']" routerLinkActive="current"><span>Statistikker</span></a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['overview']" routerLinkActive="current"><span>Kursusoversigt</span></a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['docs']" routerLinkActive="current"><span>Dokumentation</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-12 col-sm-3" style="float:right">
      <div  style="text-align: right">
        <h5>Senest opdateret</h5>
        {{courseService.time | date:"longDate"}}
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


