<p>Denne side er stadig under udvikling. I mellemtiden kan du nyde denne smukke Playboy-model.</p>
<img src="../../assets/Mike1.webp">

<div *ngIf="show === 'loading'">
	<div class="lds-spinner m-auto d-block"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div *ngIf="show === 'error'" class="alert alert-error alert--show-icon">
	<div class="alert-body">
		<div class="alert-heading">
			{{errorMsg}}
		</div>
	</div>
</div>

<p>Nedenfor er en række statistikker om kurserne på DTU.</p>
<div class="row" *ngIf="show === 'plot'">
	<div class="col-12 col-md-6 container my-4">
		<plotly [data]="avgHist.data" [layout]="avgHist.layout"></plotly>
	</div>
	<div class="col-12 col-md-6 container my-4">
		<plotly [data]="gradeDist.data" [layout]="gradeDist.layout"></plotly>
	</div>
</div>
