<div *ngIf="show === 'loading'">
	<div class="lds-spinner m-auto d-block"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div *ngIf="show === 'error'" class="alert alert-error alert--show-icon">
	<div class="alert-body">
		<div class="alert-heading">
			Der skete desværre en fejl
		</div>
		<div class="alert-text" *ngIf="errorMsg !== 'undefined undefined'">
			{{errorMsg}}
		</div>
	</div>
</div>

<div class="row" *ngIf="show === 'plots'">
	<div class="col-12 col-md-6 my-4">
		<plotly [data]="avgHist.data" [layout]="avgHist.layout"></plotly>
	</div>
	<div class="col-12 col-md-6 my-4">
		<plotly [data]="gradeDist.data" [layout]="gradeDist.layout"></plotly>
	</div>
</div>
