<!-- Søgefunktionalitet -->
<div class="form-group my-4" *ngIf="show !== 'error'">
	<label class="form-label" for="course-search">Søg efter kurser</label>
	<span class="form-hint">Søg på kursusnummer eller -navn</span>
	<input id="course-search" class="form-input" [ngModel]="search" (ngModelChange)="onSearchChange($event)" (keyup.enter)="setCourse(getFirstCourse())">
	<!-- TODO: Autofocus -->
</div>

<div *ngIf="show === 'loading'">
	<div class="lds-spinner m-auto d-block"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div *ngIf="show === 'error'" class="alert alert-error alert--show-icon">
	<div class="alert-body">
		<div class="alert-heading">{{errorMsg}}</div>
		<div class="alert-text">{{errorCode}}</div>
	</div>
</div>

<!-- Viser kursusinfo -->
<course-info [course]="currentCourse" *ngIf="show === 'course'"></course-info>

<div *ngIf="show === 'courses'" class="table--responsive-scroll">

	<p>Viser {{getShownCourses()}} af {{getListLength()}} kurser</p>
	
	<!-- Viser søgeresultater -->
	<table class="table table--zebra">
		<thead>
			<tr>
				<th>Nummer</th>
				<th>Navn</th>
				<th style="text-align: right">ECTS</th>
				<th>Sprog</th>
				<th>Niveau</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let course of courses | filterCourses:search | slice:0:maxShown">
				<td>
					<a href="javascript:void(0)" (click)="setCourse(course.course_no)">{{course.course_no}}</a>
				</td>
				<td>{{course.name}}</td>
				<td><div style="text-align: right">{{course.ECTS | number:"1.0-1"}}</div></td>
				<td>{{course.language}}</td>
				<td>{{course.level}}</td>
			</tr>
		</tbody>
	</table>
	<div class="my-4" *ngIf="showShowMore">
		<button class="button button-secondary m-auto d-block" (click)="showMore()">Vis flere</button>
	</div>
</div>
  



