<h2 class="h3">{{course.info.course_no}} {{course.info.name}}</h2>

<div class="row">
  <div class="col-12 col-lg-6">
    <table class="table data-table">
      <thead>
        <tr>
          <th scope="col">Kernetal</th>
          <th scope="col">Værdi</th>
          <th scole="col">Percentil
            <mat-icon class="js-tooltip"
                      title="Fx 40 % betyder, at kurset scorer højere end 40 % af alle andre kurser og lavere end 60 %.">
              help_outline
            </mat-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Ikoner https://material.io/resources/icons/?icon=alarm&style=baseline -->
        <tr>
          <th>
            Karaktergennemsnit
          </th>
          <td>{{course.grades ? (course.grades[0].exam_avg | number:"1.1-1") : "N/A"}}</td>
          <td [style.background-color]="bgColours.grade">
            {{course.grade_percentile | number:"1.2-2"}} %
          </td>
        </tr>
        <tr>
          <th>
            Indlæring
            <mat-icon class="js-tooltip"
                      title="Fagligt udbytte fra kurset baseret på {{course.eval_points[0].N}} bedømmelser. (0-10)">
              help_outline
            </mat-icon>
          </th>
          <td>{{course.eval_points[0].learning | number:"1.0-1"}} / 10</td>
          <td [style.background-color]="bgColours.learning">
            {{course.eval_percentiles.learning | number:"1.2-2"}} %</td>
        </tr>
        <tr>
          <th>
            Arbejdsbyrde
            <mat-icon class="js-tooltip"
                      title="Vurderet arbejdsbyrde i kurset baseret på {{course.eval_points[0].N}} bedømmelser. 2 er normeret arbejdsbyrde. (0-10)">
              help_outline
            </mat-icon>
          </th>
          <td>{{course.eval_points[0].worklevel | number:"1.0-1"}} / 10</td>
          <td [style.background-color]="bgColours.worklevel">
            {{course.eval_percentiles.worklevel | number:"1.2-2"}} %
          </td>
        </tr>
        <tr>
          <th>
            Samlet indtryk
            <mat-icon class="js-tooltip"
                      title="Samlet kursusindtryk baseret på {{course.eval_points[0].N}} bedømmelser. (0-10)">
              help_outline
            </mat-icon>
          </th>
          <td>{{course.eval_points[0].good | number:"1.0-1"}} / 10</td>
          <td [style.background-color]="bgColours.good">
            {{course.eval_percentiles.good | number:"1.2-2"}} %
          </td>
        </tr>
        <tr>
          <th>
            Ølscore
            <mat-icon class="js-tooltip"
                      title="Måler karaktergennemsnittet i forhold til arbejdsbyrden. (0-10)">
              help_outline
            </mat-icon>
          </th>
          <td>{{course.composites.beer_points | number:"1.0-1"}} / 10</td>
          <td [style.background-color]="bgColours.beer">
            {{course.composites.beer_percentiles | number:"1.2-2"}} %
          </td>
        </tr>
        <tr>
          <th>
            Kvalitet
            <mat-icon class="js-tooltip"
                      title="Samlet kursuskvalitet, der tager højde for karakterer, indlæring, arbejdsbyrde og samlet indtryk. (0-10)">
              help_outline
            </mat-icon>
          </th>
          <td>{{course.composites.quality_points | number:"1.0-1"}} / 10</td>
          <td
              [style.background-color]="bgColours.quality">
            {{course.composites.quality_percentiles | number:"1.2-2"}} %
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12 col-lg-6">
    <table class="table data-table" stl>
      <thead><th colspan="2">Grundlæggende kursusinformation</th></thead>
      <tbody>
        <tr>
          <th>ECTS</th>
          <td style="text-align: left">{{course.info.ECTS}}</td>
        </tr>
        <tr>
          <th>Sprog</th>
          <td style="text-align: left">{{course.info.language}}</td>
        </tr>
        <tr>
          <th>Skemaplacering</th>
          <td style="text-align: left; white-space: normal">{{course.info.time}}</td>
        </tr>
        <tr>
          <th>Niveau</th>
          <td style="text-align: left">{{course.info.level}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="course-description" aria-hidden="true" class="modal" (keyup.escape)="closeModal()">
  <div tabindex="-1" class="modal__overlay bg-modal">
    <div class="modal__container" role="dialog" aria-modal="true">
      <div class="modal__header">
        <h3 class="h4">Kursusbeskrivelse for {{course.info.course_no}} {{course.info.name}}</h3>
      </div>
      <div class="modal__content">
        <iframe [src]="('https://kurser.dtu.dk/course/' + course.info.course_no) | safe" tabindex="0"></iframe>
      </div>
      <button class="modal__close button button-secondary" (click)="closeModal()" tabindex="-1">Luk</button>
    </div>
  </div>
</div>

<div id="studyplanner" aria-hidden="true" class="modal" (keyup.escape)="closeModal()">
  <div tabindex="-1" class="modal__overlay bg-modal">
    <div class="modal__container" role="dialog" aria-modal="true">
      <button class="modal__close button button-secondary" (click)="closeModal()">Luk</button>
      <div class="modal__header">
        <h3 class="h4">Studieplanlægger</h3>
      </div>
      <div class="modal__content">
        <iframe src="https://studieplan.dtu.dk"></iframe>
      </div>
    </div>
  </div>
</div>



<!-- Kursusbeskrivelse -->
<button class="button button-secondary mt-4" (click)="openModal('course-description')">Åbn kursusbeskrivelse</button>
<button class="button button-secondary mt-4" (click)="openModal('studyplanner')">Åbn studieplan</button>

