iframe {
	width: 1200px;
	height: 800px;
}

.modal__container {
	width: 1350px;
	max-width: 1350px;
}

table.data-table {
	margin: 0px;
}

table.data-table td {
	text-align: right;
	white-space: nowrap;
}

.modal__close {
	width: unset;
}

@media only screen and (max-width: 1350px) {
	iframe {
		width: 100%;
		max-width: 1200px;
		height: 500px;
		margin-left: 0%;
	}
}

@media screen and (max-width: 992px) {
	table.data-table {
		margin-bottom: 20px;
	}
}

